.heading span{
    /* khong cho phep boi den */
    user-select: none; 
}

/* .heading::before {
    content: "Name "
}

.heading::after {
    content: " Developer"
} */

.heading {
    display: inline-block;
    width: max-content
}

.heading::before {
    content: "";
    height: 10px;
    width: 10px;
    background-color: #000;
    display: inline-block;
    position: absolute;
    right: -20px;
    transform: scale(30) translate(-50%, -50%);
}

.shadow {
    /* height: 50px;
    width: 50px; */
    background-color: black;
    /* margin: auto; */
    margin:0;
    box-shadow: 10px 10px 5px 0 red, 20px 20px 5px 0 blue, 30px 30px 5px 0 purple;
    border-left: 50vw solid blue;
    border-right: 50vw solid red;
    border-top: 50vh solid transparent;
    border-bottom: 50vh solid purple;
    height: 50%;
}
/* box-shadow
    x y blur scale color

*/